* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    padding: 100px 130px ;
}

/* .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.top {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}


h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    padding-bottom: 20px;
}

h2 {
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
}

h3 {
    padding-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: gray;
}

p,
li {
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

li {
    text-align: left;
    background-color: rgb(249, 215, 253);
}

li:nth-child(even) {
    background-color: rgb(255, 233, 255);
}

.final-score {
    text-align: left;
    padding: 10px 0px;
}

a {
    color:rgb(161, 45, 177);
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    color: purple;
}

.btn {
    border: none;
    background-color: purple;
    padding: 15px 50px;
    font-size: 20px;
    color: white;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(161, 45, 177);
    color: white;
}

.start-btn {
    text-align: center;
    padding: 20px;
}


.answer-btn {
    display: block;
    margin-bottom: 10px;
    width: 300px;
    text-align: left;
}

.highscore-btn {
    margin-top: 20px;
    margin-bottom: 5px;
}

.score-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.initial-input {
    width: 300px;
    height: 40px;
    margin: 10px;
}